<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Favorite Events</h1>
            <h2 class="mb-5">
                <em>Store your Favorite events</em>
            </h2>
            <a href="/signin" class="btn btn-primary">
                Let's get Started
            </a>
        </div>
    </header>
</main>